body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 3rem;
}

#target {
    display: flex;
    margin-left: 1rem;
    position: relative;
}

#target::after {
    content: "";
    position: absolute;
    height: 3.5rem;
    width: 5px;
    background-color: black;
    top: 0;
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    right: -5px;
    animation: animate 0.8s linear infinite;
    -webkit-animation: animate 0.8s linear infinite;
}

@keyframes animate {
    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}